@page "/"
@using Proyecto_Blog.Components.Pages
@using Proyecto_Blog.Models

<div class="container-fluid m-0 p-0" id="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/google-blog-search.png" alt="google-blog-search" />
                    Blog
                </a>
                <a class="nav-link active" aria-current="page" href="#">Hotel</a>
                <a class="nav-link active" aria-current="page" href="#">Viajes</a>
                <a class="nav-link active" aria-current="page" href="#">Alquileres de Carros</a>
            </div>

            <form class="d-flex mx-auto" role="search" style="max-width: 400px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="d-flex gap-2">
                @if (!Iniciado)
                {
                    <NavLink id="inicio" class="btn btn-primary" @onclick="EnviarMensajeiniciarSesion"><strong>Iniciar Sesión</strong></NavLink>
                    <button class="btn btn-secondary" @onclick="EnviarMensajeiniciarSesion2"><strong>Crear Cuenta</strong></button>
                }else{
                    <select class="form-select" aria-label="Default select example" @onchange="EnviarMensajePerfil">
                        <option selected>Informacion</option>
                        <option value="1">Perfil</option>
                        <option value="2">Cerrar Sesion</option>
                    </select>
                    <img style="border-radius: 50%; width: 40px;" src="/resource/avatar.png" alt="Avatar"/>
                }
            </div>

        </div>
    </nav>
</div>

<main>
    <article class="content px-4">
        <h1>Blog</h1>

        <p>Aquí compartimos consejos de viaje, guías de destinos e historias que inspiran tu próxima aventura.</p>
        @if(Iniciado){
            <button class="btn btn-primary" @onclick="EnviarMensaje">Agregar Nueva Tarjeta</button>
        }
        <div>
            <div class="d-grid gap-2">
                <section class="justify-content-md-start">
                    <button type="button" class="btn" data-bs-toggle="button">Todo</button>
                    <button type="button" class="btn" data-bs-toggle="button">Hoteles</button>
                    <button type="button" class="btn" data-bs-toggle="button">Viajes</button>
                    <button type="button" class="btn" data-bs-toggle="button">Alquileres de carro</button>
                </section>
                <section class="d-md-flex justify-content-md-end">
                </section>
            </div>
        </div>
    </article>
    <TarjetasComponentes/>
</main>
@code {
    [Parameter] public EventCallback<string> mensajeDatos { get; set; }
    [Parameter] public bool Iniciado { get; set; } = false;
    [Parameter] public EventCallback<string> mensaje { get; set; }

    public async Task EnviarMensaje()
    {
        await mensaje.InvokeAsync("AgregarTarjeta");
    }

    private async Task EnviarMensajeiniciarSesion()
    {
        await mensajeDatos.InvokeAsync("iniciarSesion");
    }

    private async Task EnviarMensajeiniciarSesion2()
    {
        await mensajeDatos.InvokeAsync("crearCuenta");
    } 

    private async Task EnviarMensajePerfil(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();

        if (selectedValue == "1")
        {
            await mensajeDatos.InvokeAsync("Perfil");
        }
        else if (selectedValue == "2")
        {
            Iniciado = false;
        }
    }
}