@using Proyecto_Blog.Components.Pages
@rendermode InteractiveServer
@inject NavigationManager Navigation

@if (mensajeRecibido.Equals("iniciarSesion")) {
    <IniciarSesion mensaje="RecibirMensajeTupla" />
}
else if (mensajeRecibido.Equals("crearCuenta"))
{
    <CrearCuenta  mensaje="RecibirMensaje"/>
}else if(mensajeRecibido.Equals("Home"))
{
    <div class="container-fluid m-0 p-0" id="header">
        <ContenidoHeader mensajeDatos="RecibirMensaje" Iniciado="band" />
    </div>
    <Home />
}


@code {
    private string mensajeRecibido = "Home";
    private bool band { get; set; }

    private void RecibirMensajeTupla((string, bool) datos)
    {
        mensajeRecibido = datos.Item1;
        if(datos.Item2){
            band = true;
        }
    }
    private void RecibirMensaje(string mensaje)
    {
        mensajeRecibido = mensaje;
    }

}
