@using MySql.Data.MySqlClient
@using Proyecto_Blog.Models
<div class="container m-5">
    <form @onsubmit="ValidateData">
        <h3>Crear Cuenta</h3>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese su nombre de Usuario</label>
            <input type="email" @bind="nombreUsuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario">
            <div id="emailHelp" class="form-text">Debe Ingresar su nombre de Usuario</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ingrese su correo Electronico</label>
            <input type="email" @bind="correo" class="form-control" id="exampleInputPassword1" placeholder="correo electronico">
            <div id="emailHelp" class="form-text">Debe Ingresar su correo electronico</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ingrese su contraseña</label>
            <input type="password" @bind="contrasenia" class="form-control" id="exampleInputPassword1" placeholder="contraseña">
            <div id="emailHelp" class="form-text">Debe Ingresar su correo electronico</div>
        </div>
        <button type="button" class="btn btn-primary" @onclick="ValidateData">Crear Cuenta</button>
        @if (band)
        {
            <div class="alert alert-danger" role="alert">
                Datos Incompletos
                <script>alert('Datos Faltantes. Intente mas tarde')</script>
                @EnviarMensaje()
            </div>
        }
    </form>
</div>

@code {
    [Parameter] public EventCallback<string> mensaje { get; set; }
    private string nombreUsuario = "";
    private string correo = "";
    private string contrasenia = "";
    private bool band = false;
    private string Enviarmensaje = "";

    private async Task ValidateData()
    {
        
        Usuario usuario = new Usuario(nombreUsuario, correo, contrasenia);
        try
        {
            if(nombreUsuario == "" && correo == "" && contrasenia == ""){
                Enviarmensaje = "crearCuenta";
                band = true;
                Thread.Sleep(2000);
                return;
            }
            string query = "insert into blog_prueba.usuarios(nombreUsuario,correo,contrasenia) values (?nombreUsuario,?correo,?contrasenia);";
            usuario.AgregarUsuario(new MySqlCommand(query, usuario.conexion));
            await EnviarMensaje();
        }finally{
            usuario.conexion.Close();
        }
    }

    public async Task EnviarMensaje()
    {
        Enviarmensaje = "Home";
        await mensaje.InvokeAsync(Enviarmensaje);
    }
}
