@page "/"
<PageTitle>Inicio</PageTitle>

<main>
	<article class="content px-4">
		<h1>Blog</h1>

		<p>Aquí compartimos consejos de viaje, guías de destinos e historias que inspiran tu próxima aventura.</p>

		<div>
			<div class="d-grid gap-2">
				<section class="justify-content-md-start">
					<button type="button" class="btn" data-bs-toggle="button">Todo</button>
					<button type="button" class="btn" data-bs-toggle="button">Hoteles</button>
					<button type="button" class="btn" data-bs-toggle="button">Viajes</button>
					<button type="button" class="btn" data-bs-toggle="button">Alquileres de carro</button>
				</section>
				<section class="d-md-flex justify-content-md-end">
				</section>
			</div>
		</div>
	</article>
	<TarjetasComponentes />
</main>
