@page "/"

@using Proyecto_Blog.Controllers
@using Proyecto_Blog.Models
@using Proyecto_Blog.View.Pages
@inject NavigationManager navigation

<BarraNavegacion />

<main id="principal">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <!--Personal, y se activa cuando se inicia sesion-->
        </div>
        <div class="col">
            @if (idUsuario != 0)
            {
                @if (usuario != null)
                {
                    @if (usuario.getIniciado())
                    {
                        <NavLink class="btn btn-primary" href="/AgregarTarjeta">Agregar Nueva Tarjeta</NavLink>
                    }
                }
            }
            <TarjetasComponentes />
        </div>
        <div class="col">
            <!--Vista de las tarjetas-->
        </div>
    </div>

</main>

@code {
    [Parameter]
    public int idUsuario { get; set; }
    private Usuario? usuario { get; set; }
    private string categoria = "";

    protected override async Task OnInitializedAsync()
    {
        var uri = navigation.ToAbsoluteUri(navigation.Uri); // Obtener la URL completa
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (queryParams.TryGetValue("id", out var id))
        {
            idUsuario = Int32.Parse(id);
            usuario = await new ControladorUsuario(new Usuario()).ObtenerDatos(idUsuario);
        }
    }
}