@using Proyecto_Blog.Controllers
@using Proyecto_Blog.Models
@inject NavigationManager navigation
@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navegacion">
    <div class="d-flex align-items-center" href="/">
        <a class="navbar-brand d-flex align-items-center" href="#inicio" id="link-principal">
            <img width="48" height="48" src="https://img.icons8.com/color/48/google-blog-search.png"
                alt="google-blog-search" />
            <p class="blog">Blog</p>
        </a>
    </div>
    <div class="d-flex mx-auto">
        <input class="form-control me-2" type="search" placeholder="buscar">
    </div>
    <div class="d-flex gap-2">
        @if (!Activo)
        {
            <NavLink class="btn btn-primary" href="/IniciarSesion">Iniciar Sesión</NavLink>
            <NavLink class="btn btn-secondary" href="/CrearCuenta">Crear Cuenta</NavLink>
        }
        else
        {
            <select class="form-select" aria-label="Default select example" @onchange="Cambiar">
                <option selected>Informacion</option>
                <option value="1">Perfil</option>
                <option value="2">Cerrar Sesion</option>
            </select>
            <img style="border-radius: 50%; width: 40px;" src="/resource/avatar.png" alt="Avatar" />
        }
    </div>
</nav>

@code {
    [Parameter] public bool Activo { get; set; } = false;
    [Parameter] public EventCallback<bool> ActivoChanged { get; set; }
    [Parameter] public Usuario? usuario { get; set; }

    private void Cambiar(ChangeEventArgs e){
        if(e?.Value?.ToString() == "1"){
            navigation.NavigateTo($"/Perfil?id={usuario?.getId()}");
        }else{
            navigation.NavigateTo("/CerrarSesion");
            Activo = false;
            ActivoChanged.InvokeAsync(Activo);
        }
    }
}
