@page "/IniciarSesion"

@using MySql.Data.MySqlClient
@using Proyecto_Blog.Controllers
@using Proyecto_Blog.Models
@rendermode InteractiveServer
@inject NavigationManager navigation

<PageTitle>Iniciar Sesion</PageTitle>

<div class="container mt-5">
    <div class="custom-container">
        <form @onsubmit="ValidateData">
            <h3>Iniciar Sesion</h3>
            <div class="p-2 flex-fill">
                <label for="exampleInputEmail1" class="form-label">Ingresar Correo Electronico</label>
                <input type="email" @bind="correo" class="form-control" id="exampleInputPassword1"  placeholder="Correo Electronico">
            </div>
            <div class="p-2 flex-fill">
                <label for="exampleInputPassword1" class="form-label">Ingresar La Contraseña</label>
                <input type="password" @bind="contrasenia" class="form-control" id="exampleInputPassword1" placeholder="contraseña">
            </div>
            <div class="mb-3">
                <a href="" >Olvidaste tu contraseña</a>
            </div>
            <button type="button" class="btn btn-primary" @onclick="ValidateData">Iniciar Sesion</button>
            @if (band)
            {
                <div class="alert alert-danger" role="alert">
                    Usuario o Contraseña incorrecta. Intenta nuevamente!
                    @Mensaje
                </div>
            }
        </form>
    </div>
</div>

@code {
    private string correo = "", contrasenia = "", Mensaje = "";
    private bool band = false;
    private Usuario? usuario = null;
    private ControladorUsuario? controladorUsuario = null;

    private void ValidateData()
    {
        if(ValidarUsuario())
        {
            if (usuario != null)
            {
                navigation.NavigateTo($"/?id={usuario.getId()}");
            }
        }
    }

    private bool ValidarUsuario()
    {
        usuario = new Usuario(0,"", correo, contrasenia);
        try
        {
            controladorUsuario = new ControladorUsuario(usuario);
            (bool band2, string nombreUsuario,int id) = controladorUsuario.ValidarUsusario();
            usuario.setNombreUsuario(nombreUsuario);
            usuario.setId(id);
            if (!band2)
            {
                band = true;
                return false;
            }
            usuario.setIniciado(band2);
            return true;
        }
        catch (MySqlException e)
        {
            Mensaje = e.Message;
            band = true;
        }
        return false;
    }
}