@page "/Perfil"
@using Proyecto_Blog.Controllers
@using Proyecto_Blog.Models
@using Proyecto_Blog.View.Components
@inject NavigationManager navigation
@rendermode InteractiveServer


<div class="align-items-center m-4">
	<h3>Perfil de @usuario?.getNombreUsuario()</h3>
	<div class="container border border-secondary" style="padding: 30px;">
		<div class="row align-items-start">
			<div class="col">
				<img style="border-radius: 50%; width: 300px;" src="/resource/avatar.png" alt="Avatar" />
			</div>
			<div class="col">
				<p style="margin:30px; font-size:20px;">Nombre: @usuario?.getNombreUsuario()</p>
				<button id="miBoton1" type="submit" class="btn btn-primary" @onclick=@(_=> Cambiar("Nombre de Usuario"))>Cambiar Nombre Usuario</button>
				<p style="margin:30px; font-size:20px;">Correo: @usuario?.getCorreo()</p>
				<button id="miBoton2" type="submit" class="btn btn-primary" @onclick=@(_=> Cambiar("Correo Electronico"))>Cambiar Correo Electronico</button>
				<p style="margin:30px; font-size:20px;">Contraseña: @usuario?.getContraseniaEncriptada()</p>
				<button id="miBoton3" type="submit" class="btn btn-primary" @onclick=@(_=> Cambiar("Contraseña"))>Cambiar Contraseña</button>
			</div>
		</div>
	</div>
	@if (band)
	{
		<CambiarDatos datoCambiar=@texto usuarioSeleccionado="usuario"/>
	}
</div>


<script>
	window.getButtonText = (id) =>{
	return document.getElementById(id).innerText;
	};
</script>

@code {
	[Parameter] public Usuario? usuario { get; set; }

	protected override async Task OnInitializedAsync()
	{
		int idUsuario = 0;
		var uri = navigation.ToAbsoluteUri(navigation.Uri); // Obtener la URL completa
		var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
		if (queryParams.ContainsKey("id"))
		{
			idUsuario = Convert.ToInt32(queryParams["id"]);
			usuario = await new ControladorUsuario(new Usuario()) .ObtenerDatos(idUsuario);
		}
	}
	private string texto { get; set; } = "";
	private bool band = false;

	private void Cambiar(string texto){
		this.texto = texto;
		band = true;
	}
}
